@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  border-top: 1px solid $background-color;
  border-bottom: 1px solid $background-color;
  left: 0;
  right: 0;
  top: $header-height;
  height: $tobar-height;
  padding: 7px 10px;
  display: flex;

  .button {
    @include button(green);
  }
}